@import url("https://fonts.googleapis.com/css2?family=Archivo&display=swap");

:root {
  --branco: #f4f4f4;
  --cinza: #deddd8;
  --rosa: #cb997e;
  --rosaclaro: #ddbea9;
}
h1,
header,
main,
h2,
h3,
h4,
h5,
p,
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Archivo";
}
